<h2> All movies with director</h2>
<table class="table table-striped col-md-12" id="movies">
  <thead>
  <tr>
    <th>Movie Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Director</th>
    <th>More Info</th>
  </tr>
  </thead>
  <tbody>
  <% @movies_to_render.each do |movie| %>
    <tr>
      <td>
        <%= movie.title %>
      </td>
      <td>
        <%= movie.rating %>
      </td>
      <td>
        <%= movie.release_date %>
      </td>
      <td>
        <%= movie.director %>
      </td>
      <td>
        <%= link_to "More about #{movie.title}", movie_path(movie) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Back To Movie List',movies_path %>
